body{
  width: 1440px;
  height: 1024px;
  border: 1px solid;
}
nav a{
  /* position: absolute; */
  padding: 95px;
  text-decoration: none;
  color: black;
  z-index: 5;
}
button{
  z-index: 20;
}
b{
  color: rgba(158, 9, 15, 1);
}
.img{
  float: right;
}
.chikken{
  width: 833px;
  height: 833px;
  position: absolute;
  z-index: 10;
  top: 111px;
  left: 626px;
}
.sari{
  width: 665px;
  height: 1000px;
  position: relative;
  z-index: -1;
  top: -30px;
  margin-left: 775px;
}
.heading{
  float: left;
  position: absolute;
  margin-top: 91px;
  margin-left: 100px ;
  width: 628px;
  height: 260px ;
}h1{
  font-size: 78px;
}
.text{
  position: absolute;
  float: left;
  width: 500px;
  margin-left: 100px;
  margin-top: 455px ;
}
.text p{
  font-size: 18px;
  color: rgba(90, 90, 90, 1);
}
.form1{
  position: absolute;
  float: left;
  width: 196px;
  height: 49px;
  top: 557px;
  left: 100px;
  gap: 10px;
  background: rgba(158, 9, 15, 1);
  border-radius: 25px;
}
.form1 p{
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 12px, 0px, 14px, 0px,;
}
.form2{
  position: absolute;
  float: left;
  width:  194px;
  height:  49px;
  top: 557px;
  left: 309px;
  gap: 10px;
  border-radius: 25px;
  background: rgba(243, 243, 243, 1);
}
.form2 p{
  color: black;
  text-align: center;
  font-size: 18px;
  padding: 12px, 0px, 14px, 0px,;
}
.salad2{
  position: absolute;
  float: left;
  width: 222px;
  height: 265.53px;
  top: 724.59px;
  left: 336px;
  border-radius: 22.85px; 
  background: rgba(158, 9, 15, 1);
}
.salad2 img{
  position: absolute;
  float: left;
  top: -80px;
  left: 0px; 
}
.salad2 p{
  /* font-family: Outfit; */
  font-size: 19.59px;
  text-align: center;
}
.salad1{
  position: absolute;
  float: left;
  width: 222px;
  height: 265.53px;
  top: 724.59px;
  left: 87px;
  border-radius: 22.85px;
  box-shadow: 11.48px 28.7px 45.93px 0px rgba(0, 0, 0, 0.2);

}
.salad1 img{
  position: absolute;
  float: left;
  top: -80px;
  left: 0px;
}
.salad1 h4{
  color: black;
  text-align: center;
  position: absolute;
  margin-left: 63px;
  margin-top: 127px;
}
.salad2 h4{
  color: white;
  text-align: center;
  position: absolute;
  margin-left: 63px;
  margin-top: 127px;
}
.salad1 h5{
  display: inline;
  position: absolute;
  margin-left: 42px;
  margin-top: 173px;
  font-size: 13.06px;
  color:rgba(125, 125, 125, 1);
}
.salad2 h5{
  display: inline;
  position: absolute;
  margin-left: 42px;
  margin-top: 173px;
  font-size: 13.06px;
  color:rgba(125, 125, 125, 1);
}
 .salad1 .h5{
  display: inline;
  position: absolute;
  margin-left: 133px;
  margin-top: 173px;
  font-size: 13.06px;
  color:rgba(125, 125, 125, 1);
}
 .salad2 .h5{
  display: inline;
  position: absolute;
  margin-left: 133px;
  margin-top: 173px;
  font-size: 13.06px;
  color:rgba(125, 125, 125, 1);
}
h3{
  position: absolute;
  margin-left: 30px;
  margin-top: 203px;
  font-size: 17.41PX;
}
.salad2 h3{
  position: absolute;
  margin-left: 30px;
  margin-top: 203px;
  font-size: 17.41PX;
  color: white;
}
.salad1 div{
  width: 26.12px;
  height: 26.12px;
  background-color: rgba(158, 9, 15, 1);
  border-radius: 4.35px;
  position: absolute;
  margin-left: 169px;
  margin-top: 201px;
}
.salad2 div{
  width: 26.12px;
  height: 26.12px;
  background-color: white;
  border-radius: 4.35px;
  position: absolute;
  margin-left: 169px;
  margin-top: 201px;
}
 h2{
  position: absolute;
  margin-left: 7px;
  margin-top: 2px;  
  color: white;
}
.salad2 h2{
  position: absolute;
  margin-left: 7px;
  margin-top: 2px; 
  color: rgba(158, 9, 15, 1); 
}
.order{
  width: 189px;
  height: 20.57px;
  top: 880.49px;
  left: 951px;
  border-radius: 13.4px ;
  position: absolute;
  padding: 15px;
  box-shadow: 11.48px 28.7px 45.93px 0px rgba(0, 0, 0, 0.2);

}
span{
  color: rgba(158, 9, 15, 1);
}
.golichka{
  width: 28.15px;
  height: 28.15px;
  margin-top: -20px;
  margin-left: 158.49px;
  border-radius: 50%;
  background: rgba(125, 201, 79, 1);
}
.golichka img{
  position: absolute;
  margin-left: 7px;
  margin-top: 10px;
}
.for{
  width:155px;
  height: 76.93px;
  border-radius: 11.48px;
  position: absolute;
  z-index: 20;
  margin-left: 736px;
  margin-top: 206px;
  box-shadow: 11.48px 28.7px 45.93px 0px rgba(0, 0, 0, 0.2);

}
.for h3{
  font-size: 14px;
  position: absolute;
  margin-left: 14px;
  margin-top: 50px;
}
.for img{
  position: absolute;
  margin-left: 140px;
  margin-top: 10px;
}
 .for h2{
  position: absolute;
  margin-left: -0px;
  margin-top: 10px;
}